name: myWebsite

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  production:
    runs-on: [self-hosted]
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          clean: true
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      # - name: Create env file
      #   run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Build
        run: npm run build

      - name: Restart Nginx
        run: sudo service nginx restart